.env
.venv/
venv/
env/

requirements.txt

__pycache__/
*.pyc
*.pyo
*.pyd

.idea/
.vscode/
*.iml
*.ipr
*.iws

allure-results/
allure-report/
pytest_cache/
.coverage
htmlcov/

*.log
*.bak
*.swp
*.tmp
*.DS_Store
Thumbs.db

geckodriver*
chromedriver*
msedgedriver*
*.exe

dist/
build/
*.egg-info/

*.cfg
*.ini

*.bak
*.tmp
~$*

*.db
*.sqlite
*.csv
*.xlsx

.pytest_cache/
